/*

COLORS: 
	- darkblue
		13 96 255
		0D60FF
	-lightblue
		12 145 232
		0C91E8
	-turquoise
		0 222 255
		00DEFF
	- mintgreen
		12 232 200
		0CE8C8
	-lightgreen
		13 255 152
		0DFF98
*/

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

html, body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container,
.row{
	padding: 0 !important;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}



/***************************************
			   NAVIGATION
***************************************/
#header-nav,
ul.nav{
	background-color: #00DEFF;
}

