/*

COLORS: 
	- darkblue
		13 96 255
		0D60FF
	-lightblue
		12 145 232
		0C91E8
	-turquoise
		0 222 255
		00DEFF
	- mintgreen
		12 232 200
		0CE8C8
	-lightgreen
		13 255 152
		0DFF98

*/

/***************************************
			   TYPOGRAPHY
***************************************/

$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

h1{
	font-size: 40px !important;
}
h2{
	font-size: 32px !important;
}
h3{
	font-size: 26px !important;
}
h4{
	font-size: 22px !important;
}
h5{
	font-size: 20px !important;
}
h6{
	font-size: 18px !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold !important;
}

.title{
	font-size: 20px;
	font-weight: bold !important;
}


/***************************************
			   GENERAL
***************************************/

html, body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container,
.row{
	padding: 0 !important;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a{
	color: inherit;
    text-decoration: none;
}

img{
	width: 100%;
}

form{
	margin-bottom: 0 !important;
}

.float-none{
	float: none;
}


/***************************************
			PADDING & MARGIN
***************************************/
.no-padding{
	padding: 0 !important;
}
.no-top-padding{
	padding-top: 0 !important;
}
.no-btm-padding{
	padding-bottom: 0 !important;
}
.no-left-padding{
	padding-left: 0 !important;
}
.no-right-padding{
	padding-right: 0 !important;
}

.padding-sm{
	padding: 1em !important;
}
.padding-sm-top{
	padding-top: 1em !important;
}
.padding-sm-bottom{
	padding-bottom: 1em !important;
}
.padding-sm-right{
	padding-right: 1em !important;
}
.padding-sm-left{
	padding-left: 1em !important;
}




.no-margin{
	margin: 0 !important;
}
.no-top-margin{
	margin-top: 0 !important;
}
.no-btm-margin{
	margin-bottom: 0 !important;
}
.no-left-margin{
	margin-left: 0 !important;
}
.no-right-margin{
	margin-right: 0 !important;
}

.margin-sm{
	margin: 1em !important;
}
.margin-sm-top{
	margin-top: 1em !important;
}
.margin-sm-bottom{
	margin-bottom: 1em !important;
}
.margin-sm-right{
	margin-right: 1em !important;
}
.margin-sm-left{
	margin-left: 1em !important;
}

.margin-md-bottom{
	margin-bottom: 2.5em !important;
}



.block{
	display: block !important;
}
.full-width{
	width: 100% !important;
}




/***************************************
				BORDERS
***************************************/
.full-brdr{
	border: 1px solid #abc;
	border-radius: 5px;
}
.btm-brdr{
	border-bottom: 1px solid #abc;
}


/***************************************
			   NAVIGATION
***************************************/
#header,
#footer{
	background-color: #00DEFF !important;
}
nav{
	display: block !important;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.nav{
	display: inline !important;
}
.navbar-fixed nav {
    position: inherit !important;
}



/***************************************
			   	  FORMS
***************************************/
select{
	display: inherit;
}


/***************************************
			   PAGE LAYOUT
***************************************/
.content{
	min-height: 100vh;
}



.band-container{
	padding: 0 1em 1em;
}


.header-image-title{
	margin-top: -5em;
	margin-left: 2em;
}

/***************************************
		   LOGIN/REGISTER PAGE
***************************************/
.form-error{
	display: block;
}


/***************************************
			DASHBOARD LAYOUT
***************************************/

/* NAVIGATION */

.dashnav-wrapper{
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 5px;
	webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	margin-top: 0.5em;
}

.dashnav nav a{
	color: #0D60FF;
	width: 100%;
	line-height: initial;
	display: block;
	padding: 1em;
}

.dashnav nav li{
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dashnav nav li:first-child{
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dashnav nav li:last-child{
	border-bottom: none;
	border-radius: 0 0 5px 5px;
}

.dashnav nav a:hover{
	background-color: rgba(12, 145, 232, 0.25);
	text-decoration: none;
}


.dashnav .title{
	padding: 0.8em
}

.dashnav nav .active{
	background-color: #0C91E8;
	color: white;
}


/* BAND REGISTRATION */
.register-band .file-field .btn {
    line-height: 2.5em;
}