/*

COLORS: 
	- darkblue
		13 96 255
		0D60FF
	-lightblue
		12 145 232
		0C91E8
	-turquoise
		0 222 255
		00DEFF
	- mintgreen
		12 232 200
		0CE8C8
	-lightgreen
		13 255 152
		0DFF98

*/

/***************************************
			   TYPOGRAPHY
***************************************/

$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

h1{
	font-size: 40px !important;
}
h2{
	font-size: 32px !important;
}
h3{
	font-size: 26px !important;
}
h4{
	font-size: 22px !important;
}
h5{
	font-size: 20px !important;
}
h6{
	font-size: 18px !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold !important;
}

.title{
	font-size: 18px;
}


/***************************************
			   GENERAL
***************************************/

html, body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container,
.row{
	padding: 0 !important;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a{
	color: inherit;
    text-decoration: none;
}

img{
	width: 100%;
}


/***************************************
			PADDING & MARGIN
***************************************/
.no-padding{
	padding: 0 !important;
}
.no-top-padding{
	padding-top: 0 !important;
}
.no-btm-padding{
	padding-bottom: 0 !important;
}
.no-left-padding{
	padding-left: 0 !important;
}
.no-right-padding{
	padding-right: 0 !important;
}

.padding-sm{
	padding: 1em !important;
}
.padding-sm-top{
	padding-top: 1em !important;
}
.padding-sm-bottom{
	padding-bottom: 1em !important;
}
.padding-sm-right{
	padding-right: 1em !important;
}
.padding-sm-left{
	padding-left: 1em !important;
}

.no-margin{
	margin: 0 !important;
}
.no-top-margin{
	margin-top: 0 !important;
}
.no-btm-margin{
	margin-bottom: 0 !important;
}
.no-left-margin{
	margin-left: 0 !important;
}
.no-right-margin{
	margin-right: 0 !important;
}

.margin-sm{
	margin: 1em !important;
}
.margin-sm-top{
	margin-top: 1em !important;
}
.margin-sm-bottom{
	margin-bottom: 1em !important;
}
.margin-sm-right{
	margin-right: 1em !important;
}
.margin-sm-left{
	margin-left: 1em !important;
}

.block{
	display: block !important;
}
.full-width{
	width: 100% !important;
}



/***************************************
			   NAVIGATION
***************************************/
#header,
#footer{
	background-color: #00DEFF !important;
}
nav{
	display: block !important;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.nav{
	display: inline !important;
}
.navbar-fixed nav {
    position: inherit !important;
}



/***************************************
			   PAGE LAYOUT
***************************************/
.content{
	min-height: 100vh;
}



.band-container{
	padding: 0 1em 1em;
	border: 1px solid #abc;
	border-radius: 5px;
}




/***************************************
		   LOGIN/REGISTER PAGE
***************************************/
.form-error{
	display: block;
}


